/* New Styles for Body Margin */
body {
    font-family: 'Avenir Light', 'Avenir', 'Arial', sans-serif;
    color: #414141;
    margin: 0.5in;
    background-color: #bbc6cd; /* Setting the background color of the whole page */
}

h1 {
    font-weight: normal; /* Remove the default bold styling from h1 */
    font-family: 'Avenir Next Ultra Light', 'Avenir Light', 'Avenir', 'Arial', sans-serif;
    color: black;
    margin-bottom: 0;
    line-height: 1.2;
}
  
.surname {
    font-family: 'Avenir Next Demi Bold', 'Avenir Medium', 'Avenir Next', 'Avenir', 'Arial', sans-serif;
    font-weight: normal;
    color: black;
}

/* Add a class for the main container */
.main-container {
    display: flex; /* This will place image and content side by side */
    align-items: flex-start; /* Aligns items to the start of the container */
}


/* Add a class for the image container */
.image-container {
    float: left; /* Aligns the container to the left */
    margin-right: 20px; /* Adds some space between the image and the content */
    margin-top: 20px;
}

.image-container img {
    width: 400px; /* Set the width to 400px */
    height: auto; /* Maintain aspect ratio */
}


.content-container {
    width: 600px; /* Reduced width */
    margin: 0; /* Top, Right, Bottom, Left margins */
    padding: 0 20px;
}


/* Navigation Bubbles */
.nav-bubbles {
    text-align: center;
    margin-bottom: 20px;
}

.bubble {
    display: inline-block;
    margin: 1px;
    padding: 5px; /* Adjusted padding */
    width: 80px; /* Fixed width for all bubbles */
    height: 80px; /* Added height to match width for a perfect circle */
    border-radius: 50%; /* Full circle shape */
    background-color: transparent;
    border: 1px solid #d3d3d3; /* Light grey border */
    text-decoration: none;
    color: #414141;
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Include padding and border in the width */
    line-height: 70px; /* Adjust line-height for vertical alignment */
    font-size: 12;
}

.bubble.active {
    background-color: #d3d3d3; /* Changed to light grey for active page */
    border-color: #d3d3d3; /* Optional: matching border color for active bubble */
}

/* Profile Section */
.profile-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Grey Bar Styling */
.grey-bar {
    width: 100%; /* Full width of the container */
    height: 3px; /* Height of the bar */
    background-color: #d3d3d3; /* Same green as active bubble */
    margin-bottom: 0px; /* Spacing below the bar */
    margin-top: 20px;
}

.p2 {
    margin: 0; /* Removes default paragraph margin, if needed */
    /* Add other styling as needed */
}


.footer {
    clear: both; /* Clears any floating elements */
    position: relative; /* Keeps the footer in the normal flow of the document */
    text-align: left;
    /* Add other styling as needed */
}

.main-container {
    min-height: 100%; /* Ensure main container takes at least the viewport height */
    /* Rest of your styles */
}

.footer {
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Align it to the bottom */
    width: 100%; /* Make it span the whole width */
    text-align: left;
    /* Add other styling as needed */
}
